		<div class="container">
      <div class="site_title">
        <div class="footer-logo footer__logo">
					<img src="https://files.hsls.pitt.edu/files/images/hsls-logo-white.svg" width="261" alt="University of Pittsburgh, Health Sciences Library System logo">
				</div>
        <h3 class="footer-site_name footer__title">Health Sciences Library System</h3>
      </div>
				<div class="sections">
					<section class="">
						<div>
							<div class="view-content">
								<div>
									<div class="contact-info">
										<p>200 Scaife Hall<br>
											 3550 Terrace Street<br>
											 Pittsburgh, PA 15261
										</p>
										<p>412-648-8866<br>
											<a href="https://www.hsls.pitt.edu">www.hsls.pitt.edu</a>
										</p>
										<p> </p>
									</div>
								</div>
							</div>
						</div>
					</section>
											<section id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><h2 class="screen-reader-text">Follow HSLS</h2>
<div class="social-media-icons">
	<a href="https://www.facebook.com/PittHSLS"><img src="https://files.hsls.pitt.edu/files/images/hsls-social-fb.png" alt="HSLS on Facebook"></a>
	<a href="https://www.youtube.com/channel/UCYaPyAeQNfJXv52tHQhcQ7w"><img src="https://files.hsls.pitt.edu/files/images/hsls-social-yt.png" alt="HSLS on YouTube"></a>
	<a href="https://twitter.com/HSLSPitt"><img src="https://files.hsls.pitt.edu/files/images/hsls-social-twitter.png" alt="HSLS on Twitter"></a>
	<a href="https://www.instagram.com/hslspitt/"><img src="https://files.hsls.pitt.edu/files/images/hsls-social-instagram.png" alt="HSLS on Intsagram"></a>
</div></div></section>
				</div>

      <div id="copyright" class="container-fluid footer__copyright">
        <div class="region region-copyright">
    			<section aria-label="" class=clearfix">
						<span>© 1996–2021 Health Sciences Library System, University of Pittsburgh. All rights reserved.</span>
					</section>
  			</div>
      </div>
    </div>
