{% extends 'base.html.twig' %}

{% block page_title %}
<title>Home | Pitt Data Catalog</title>
{% endblock %}

{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
</div></div>
<div style="background-color: #ffaf1a;">
<div class="container">
<div class="row">
	<div class="col-sm-12" style="background-color: white; padding-bottom: 17em;">
		<div class="page-header homepage">

			<p>Welcome to the <strong>Pitt Data Catalog</strong> (PDC), a platform to help University of Pittsburgh health sciences researchers <strong>share and discover datasets, software, and code.</strong></p>
			<p>The PDC is NOT a repository. Instead, it resembles a library catalog—each record <strong>describes</strong> a dataset with relevant information and <strong>provides instructions for access</strong>, but final control over the dataset remains with the researchers who created it.</p>
			<p><strong>To discover datasets</strong>, use the search box above or click "Browse" to view all entries.</p>
			<p><strong>To add information about your dataset</strong> to the PDC, use the "Include your dataset" button to contact us. We will set up a consultation to begin describing your data.</p>

			<p>Questions? Feedback? Found an error? Want to be involved? <a href="{{ path('contact') }}">Contact us</a>.</p>

		</div>
	</div>
</div>
</div>
</div>
<div class="container-fluid">
{% endblock %}


